.topnav{
    background-color:black;
}

$primaryColor: #13e293;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-column{
    display: inline-block;
    background-color: blue;
    width: 75%; 
}

.right-column{
    float: right;
    background-color: green;
    width: 24%;   
}

body {
  font-family: sans-serif;
  color: rgb(24, 24, 24);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
