.topnav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}
.nav-item-left{
  width: 25%;
  height: 70px;
  padding-left: 15px;
}
.video-title{
  background-color:white;
}

.video-details{
  background-color: white;
}
.view-count{
  display: block;
  width: 20%;
  color: grey;
  font-weight: bold;
  float: right;
}


.img-fluid {
  max-height:100%;
  height:auto;
}

$primaryColor: #13e293;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-column{
    display: inline-block;
    width: 560px;
}

.right-column{
    float: right;
    background-color: green;
    width: 24%;
}

body {
  font-family: sans-serif;
  background-color: rgb(241, 241 ,241);
  color: rgb(24, 24, 24);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
