.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: white;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);
}
.nav-item-left{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    padding-left: 15px;
  }

$primaryColor: #13e293;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-column{
    display: inline-block;
    background-color: blue;
    width: 75%;
}

.right-column{
    float: right;
    background-color: green;
    width: 24%;
}

body {
  font-family: sans-serif;
  color: rgb(24, 24, 24);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
